{% load  static %}
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav{
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
  }
  nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
  }
  .nav-content .toggle-btn,
  .nav-content span a{
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  .nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
  }
  nav.open .toggle-btn{
    transform: rotate(0deg);
  }
  .nav-content span{
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
  }
  nav.open .nav-content span{
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
    opacity: 1;
  }
  .nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);
  }
  .nav-content span a i{
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg/ -8)));
    opacity: 0.8;
    transition: 0.2s;
  }
  .nav-content span a:hover i{
    opacity: 1;
  }
.logo{
    margin-left: 30%;
}
</style>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<nav>
    <div class="nav-content">
      <div class="toggle-btn">
        <i class='bx bx-plus'></i>
      </div>
      <span style="--i:1;">
        <a href="{% url 'settings_page' %}"><i class='bx bxs-cog' ></i></a>
      </span>
      <span style="--i:2;">
        <a href="{% url 'list_page' %}"><i class='bx bxs-plus-circle'></i></a>
      </span>
      <span style="--i:3;">
        <a href="{% url 'chat_page' %}"><i class='bx bxs-message-rounded'></i></i></a>
      </span>
      <span style="--i:4;">
        <a href="{% url 'profile_page' %}"><i class='bx bxs-user'></i></a>
      </span>
      <span style="--i:5;">
        <a href="{% url 'home_page' %}"><i class='bx bxs-home'></i></i></a>
      </span>
    </div>
  </nav>
  <script>
    // getting HTML elements
  const nav = document.querySelector("nav"),
        toggleBtn = nav.querySelector(".toggle-btn");

    toggleBtn.addEventListener("click" , () =>{
      nav.classList.toggle("open");
    });

  // js code to make draggable nav
  function onDrag({movementY}) { //movementY gets mouse vertical value
    const navStyle = window.getComputedStyle(nav), //getting all css style of nav
          navTop = parseInt(navStyle.top), // getting nav top value & convert it into string
          navHeight = parseInt(navStyle.height), // getting nav height value & convert it into string
          windHeight = window.innerHeight; // getting window height

    nav.style.top = navTop > 0 ? `${navTop + movementY}px` : "1px";
    if(navTop > windHeight - navHeight){
      nav.style.top = `${windHeight - navHeight}px`;
    }
  }
  </script>
  