/*Image input field css Start here*/ 
  /* Import Google Font 'Montserrat' */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

  /* common variables */
  :root {
    /* colors */
    --primary: #000000;
    --secondary: #d1d1d1;
    --secondary-dark: #cfcdcd;
    --light: #ffffff;
    --danger: #b0b0b0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto,arial;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
  }

  .drop-area {
    margin-right: 30px;
    margin-top: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    color: var(--light);
    font-size: 1.7rem;
    font-weight: 600;
    overflow: hidden;
    border: 3px solid var(--light);
  }

  .drop-area.active {
    border: 2px solid var(--light);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.02s;
  }

  .drop-area i {
    font-size: 100px;
    margin-bottom: -40px;
  }

  .drop-area p {
    text-align: center;
    margin-bottom: 1rem;
  }

  .drop-area span {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .drop-area button {
    padding: 10px 1.5rem;
    border-radius: 25x;
    font-size: 10px;
    font-weight: 500;
    border-radius: 60px;
    color: black;
    background-color:white;
    text-decoration: none;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: text-decoration 0.2s ease, background-color 0.2s ease,
      border 0.2s ease;
  }

  .drop-area button:hover {
    border: 1px solid var(--secondary-dark);
    background-color: var(--secondary-dark);
  }

  .drop-area span a:hover {
    text-decoration: underline;
  }

  .drop-area img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* CSS if error occurred */
  .drop-area.error {
    color: var(--danger);
    border: 2px dashed var(--danger);
  }

  .drop-area.error p {
    padding: 0 4rem;
    margin-bottom: 2rem;
  }

  .drop-area.error span {
    display: none;
  }
 /*Image input field css Ends here*/



