/*Image input field css Start here*/ 
  /* Import Google Font 'Montserrat' */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

  /* common variables */
  :root {
    /* colors */
    --primary: #000000;
    --secondary: #6d6d6d;
    --secondary-dark: #7b7b7b;
    --light: #ffffff;
    --danger: #f45050;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  .drop-area {
    margin-top: 50px;
    position: absolute; 
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 144px;
    color: var(--light);
    font-size: 1.7rem;
    font-weight: 600;
    overflow: hidden;
    border: 3px solid var(--light);
  }

  .drop-area.active {
    border: 2px solid var(--light);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.02s;
  }

  .drop-area i {
    font-size: 99px;
    margin-bottom: -45px;
    margin-top: -22px;
  }

  .drop-area p {
    font-size: medium;
    text-align: center;
    margin-bottom: 1rem;
  }

  .drop-area span {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .drop-area button {
    padding: 9px 19px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 500;
    color: var(--light);
    background-color: var(--secondary);
    text-decoration: none;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: text-decoration 0.2s ease, background-color 0.2s ease,
      border 0.2s ease;
  }

  .drop-area button:hover {
    border: 1px solid var(--secondary-dark);
    background-color: var(--secondary-dark);
  }

  .drop-area span a:hover {
    text-decoration: underline;
  }

  .drop-area img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

  /* CSS if error occurred */
  .drop-area.error {
    color: var(--danger);
    border: 2px dashed var(--danger);
  }

  .drop-area.error p {
    padding: 0 4rem;
    margin-bottom: 2rem;
  }

  .drop-area.error span {
    display: none;
  }
 /*Image input field css Ends here*/



